<ion-header>
  <ion-toolbar>
    <ion-title>
      Buses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('uyumbicho')"  style="background-image: url('../../assets/lugaresTuristicos/uyumbicho.jpg')">
    <div class="overlay">Lugares turisticos en Uyumbicho</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('tambillo')"  style="background-image: url('../../assets/lugaresTuristicos/tambillo.jpg')">
    <div class="overlay">Lugares turisticos en Tambillo</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('tandapi')"  style="background-image: url('../../assets/lugaresTuristicos/tandapi.jpg')">
    <div class="overlay">Lugares turisticos en Tandapi</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('elchaupi')"  style="background-image: url('../../assets/lugaresTuristicos/chaupi.jpg')">
    <div class="overlay">Lugares turisticos en Chaupi</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('cutuglagua')"  style="background-image: url('../../assets/lugaresTuristicos/cutuglagua.jpg')">
    <div class="overlay">Lugares turisticos en Cutuglagua</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('aloag')"  style="background-image: url('../../assets/lugaresTuristicos/aloag.jpg')">
    <div class="overlay">Lugares turisticos en Aloag</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('aloasi')"  style="background-image: url('../../assets/lugaresTuristicos/aloasi.jpg')">
    <div class="overlay">Lugares turisticos en Aloasi</div>
  </div>
  <div class="cont-img-row" (click)="mostrarDetalleTurismo('machachi')"  style="background-image: url('../../assets/lugaresTuristicos/machachi.jpg')">
    <div class="overlay">Lugares turisticos en Machachi</div>
  </div>
</ion-content>







