<ion-header>
  <ion-toolbar>
    <ion-title>
      MUT MEJIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 50%;width: 100%" id="map_canvas"></div>
  <ion-card-subtitle>
    <p>
      Consigue la mejor ruta a tu destino
    </p>
  </ion-card-subtitle>

  <div padding class="rutas-content">
    <ion-list *ngFor="let ruta of rutas" style="border: 1px solid lightgray;border-radius: 8px;padding: 10px; margin-bottom: 5px">
      <ion-card-subtitle (click)="cargarMarcadores(ruta.marcadores)" style="font-size: 16px;margin-bottom: 25px">{{ruta.nombreRuta}}</ion-card-subtitle>
      <label (click)="mostrarRuta(ruta.abr)"><small><ion-badge color="success">Mostrar rutas</ion-badge></small></label>
      <div id="{{ruta.abr}}" *ngIf="showDataRoute">
        <ion-item *ngFor="let paradas of ruta.paradas">
          {{paradas.nombreParada}}
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>